

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

form {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    height: 110vh;
    padding:30px;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 10px;
    background-clip: padding-box;
    background: #247416; 
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}

textarea {
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px; 
    width: 60%;
    height: 70px;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    background-clip: padding-box; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding:20px;
    display: block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}


input {
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    background-clip: padding-box; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input.name {
      background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px; 
      padding-left:45px;
      width: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
}

input.email {
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
    padding-left:45px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
      
}

input.radio1 {
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
    width: 60%;
    height: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input:focus, textarea:focus { 
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.btn {
    width: 138px;
    height: 48px;
    border-radius: 10px;
    float:right;
    border: 2px solid #253737;
    background: #416b68;
    margin:30px;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    color: #fff;
 }

.btn:active {
    margin:30px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: #6da5a3;
    color: #fff;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
   }

.help {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    color: whitesmoke;
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    background-clip: padding-box; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    }


.container {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    color: whitesmoke;
    padding: 10px;
  }
  
.container .progress {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  }
  
.progress {
    height: 20px;
    padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  
.progress-bar {
    height: 10px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  }
  
#five:checked ~ .progress > .progress-bar {
    width: 5%;
    background-color: #f34213;
  }
  
#twentyfive:checked ~ .progress > .progress-bar {
    width: 25%;
    background-color: #f27011;
  }
  
#fifty:checked ~ .progress > .progress-bar {
    width: 50%;
    background-color: #f2b01e;
  }
  
#seventyfive:checked ~ .progress > .progress-bar {
    width: 75%;
    background-color: #f2d31b;
  }
  
#onehundred:checked ~ .progress > .progress-bar {
    width: 100%;
    background-color: #86e01e;
  }
  
.radio {
    display: none;
  }
  
.label {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right:15px;
    padding: 6px 8px;
    color: #aaa;
    text-shadow: 0 1px black;
    border-radius: 3px;
    cursor: pointer;
  }
  
.radio:checked + .label {
    color: white;
    background: rgba(0, 0, 0, 0.25);
  }

  h5 {
    text-align: center;
    padding: 1px;
  }

