<body>

<form>
   
    <input name="name" placeholder="What is your name?" class="name" required />
   
    <input name="emailaddress" placeholder="What is your email?" class="email" type="email" required />

    <div>
        <h3>How can I help you?</h3>
        <input type="checkbox" class="checkbox" name="check" value="professional" checked>
            <label for="professional" class="label">Professional</label>
    
        <input type="checkbox" class="checkbox" name="check" value="personal">
            <label for="personal" class="label">Personal</label>
    
    </div>

    <div>
        <h3>Are you a Recruiter?</h3>
        <input type="radio" class="radio1" name="recruiter" value="Yes" checked>
            <label for="Yes" class="label">Yes</label>

        <input type="radio" class="radio1" name="recruiter" value="No">
            <label for="No" class="label">No</label>
    
    </div>

    <div class="container">
        <h3>If you are a Recruiter, your offer is ...</h3>
        <input type="radio" class="radio" name="progress" value="five" id="five">
            <label for="five" class="label">5.000</label>
      
        <input type="radio" class="radio" name="progress" value="twentyfive" id="twentyfive">
            <label for="twentyfive" class="label">25.000</label>
      
        <input type="radio" class="radio" name="progress" value="fifty" id="fifty">
            <label for="fifty" class="label">50.000</label>
      
        <input type="radio" class="radio" name="progress" value="seventyfive" id="seventyfive" checked>
            <label for="seventyfive" class="label">75.000</label>
      
        <input type="radio" class="radio" name="progress" value="onehundred" id="onehundred">
            <label for="onehundred" class="label">100.000</label>
      
        <div class="progress">
          <div class="progress-bar"></div>
        </div>

      </div>

    <textarea rows="4" cols="50" name="subject" placeholder="Please enter your message" class="message" required></textarea>
    
        <input name="submit" class="btn" type="submit" value="Send" />  

</form>
</body>

