.skills {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 3px solid black;
    border-radius: 10px;
    height: fit-content;
    padding: 1% 10% 1% 10%;
    background-color: darkgreen;
    color: whitesmoke;
    text-align: center;
}

.school {
    margin: 6px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
    background-color: darkgreen;
    color: whitesmoke;
    text-align: center;
}

img {
    border: 2px solid black;
    height: 50%;
    width: 50%;
}