.video_jobs{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 3px solid black;
    height: fit-content;
}

.scene {
    text-align: center;
    border: 3px solid black;
    border-radius: 30px;
    background-color: rgb(98, 156, 40);
    margin: 3px;
    color: whitesmoke;
    font-size: 6px;
}

