  <div class="home_carousel">
  <ngb-carousel #carousel interval="2000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
      <ng-template ngbSlide *ngFor="let nasaimage of nasaimages">
        <div class="carousel-caption">
          <h6>{{ nasaimage.name }} -- Capital: {{ nasaimage.capital }}</h6>
          <h6>Continent: {{ nasaimage.region }}</h6>
          <h6>Population: {{ nasaimage.population | number: '4.0'}}</h6>
        </div>
        <a href="https://www.google.es/?q={{nasaimage.name}}" target="_blank" rel="nofollow noopener noreferrer">
          <div class="picsum-img-wrapper">
            <img [src]="nasaimage.flag" alt="flag" height="220px">
          </div>
        </a>
      </ng-template>
    </ngb-carousel>
    
    <hr>
  
    <div class="planet">
      Many Countries and Flags, but We are only One Planet and there is not Planet B
    </div>
    <button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
      {{paused ? 'Cycle' : 'Pause' }}
    </button>
    </div>