@media (min-width: 768px) {

@mixin white-gradient {
  background: linear-gradient(to right,  rgb(21, 121, 54) 0%,rgba(9, 158, 66, 0) 100%);
}

$animationSpeed: 30s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 5))}
}


// Styling
.slider {
	background: rgba(211, 198, 198, 0.5);
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 90px;
	margin: auto;
	overflow:hidden;
	position: relative;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 120px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 90px;
		width: 250px;
	}
}
}
@media (max-width: 767px) {

$animationSpeed: 30s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 10.5))}
}


// Styling
.slider {
	background: rgba(211, 198, 198, 0.5);
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 90px;
	margin: auto;
	overflow:hidden;
	position: relative;
  	width: 100%;
  	border: 2px solid black;
  	border-radius: 10px;
	
	&::before,
	&::after {
		content: "";
		height: 90px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 30);
	}
	
	.slide {
		height: 90px;
		width: 250px;
	}
}
}