<div class='header'><strong>Hello!<br>This is me: {{ name }} {{ surname }} </strong><br>
    <a href="https://twitter.com/urtziarana?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @urtziarana</a>

<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="es_ES" data-type="vertical" data-theme="dark" data-vanity="urtzi-arana-santamaria-aa1810ba">
    <a class="LI-simple-link" href='https://es.linkedin.com/in/urtzi-arana-santamaria-aa1810ba?trk=profile-badge'>Urtzi Arana Santamaria</a>
</div>
</div>