<h1>Hello brother! This is {{ title }} working</h1>

<div class='header'><strong>Hello!<br>This is me: {{ name }} {{ surname }} </strong><br>
    <a href="https://twitter.com/urtziarana?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @urtziarana</a>

<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="es_ES" data-type="horizontal" data-theme="dark" data-vanity="urtzi-arana-santamaria-aa1810ba">
<a class="LI-simple-link" href='https://es.linkedin.com/in/urtzi-arana-santamaria-aa1810ba?trk=profile-badge'>Urtzi Arana Santamaria</a>
</div>
</div>

<header class="header_menu">
    
<app-skills></app-skills> 

    <span class="menu_btn">Menu</span>
    <nav class="menu_menu">
        <a [routerLink]= "['/']">Home</a>
        <a [routerLink]= "['/Welcome']">Warm Welcome</a>
        <a [routerLink]= "['/Knowledge']">Knowledge and Experience</a>
        <a [routerLink]= "['/Contact']">Contact me</a>
    </nav>
</header>

<app-languages></app-languages>

<router-outlet></router-outlet>