<h1>Hello brother! This is {{ title }} working</h1>

<app-rrss></app-rrss>

<header class="header_menu">
    
<app-skills></app-skills> 

    <span class="menu_btn">Menu</span>
    <nav class="menu_menu">
        <a [routerLink]= "['/']">Home</a>
        <a [routerLink]= "['/Welcome']">Warm Welcome</a>
        <a [routerLink]= "['/Knowledge']">Knowledge and Experience</a>
        <a [routerLink]= "['/Contact']">Contact me</a>
    </nav>
</header>

<app-languages></app-languages>

<router-outlet></router-outlet>